.smallfont {
  font-size: 0.6em;
}

.highlight {
    color: indianred;
}

/*change the font size of the title on the first slide*/
.title {
  font-size: 2.5em !important; /*important makes this first priority */
}

.reveal div.left {
    float: left; z-index: -10; width: 45%;
}
 
.reveal div.right {
    float: right; z-index: -10; width: 55%;
}